# FLoRa Simulation Campaign Report

This report was generated automatically within the run of a simulation campaign.
The specifics of this campaign are in the following tables.

## Simulations

### General parameters

| Simulation | Number of nodes | Number of gateways | ADR | starting SF | 
|:---:|:---:|:---:|:---:|:---:|
{% for sim in simulations -%}
| {{sim.simulationName}} | {{sim.numberOfNodes}} | {{sim.numberOfGateways}} | {{sim.activateADR}} | {{sim.startingSF}} |
{% endfor -%}

### Node parameters

| Simulation | Number of nodes | Zombie node ratio | Reliable node ratio |
|:---:|:---:|:---:|:---:|
{% for sim in simulations -%}
| {{sim.simulationName}} | {{sim.numberOfNodes}} | {{sim.zombieNodesPercentage}} | {{sim.reliableNodesPercentage}} |
{% endfor -%}
