#!/bin/bash

SIMULATION_PATH=$OMNETPP_FOLDER_PATH/samples/flora/simulations

cd $CODE_FOLDER_PATH;

rm $SIMULATION_PATH/pfe/*;
rm $SIMULATION_PATH/results/*;

cp $CODE_FOLDER_PATH/simulations/* $SIMULATION_PATH/pfe/;

cd $SIMULATION_PATH;

{% for sim in simulations -%}
echo "Simulating {{sim}}"
./run -u Cmdenv -f $SIMULATION_PATH/pfe/{{sim}};
{% endfor %}

mv $SIMULATION_PATH/results/* $CODE_FOLDER_PATH/logs/;

timestamp=$(date +%s);
tar czvf $CODE_FOLDER_PATH/backup/logs/logs_$timestamp.tar.gz $CODE_FOLDER_PATH/logs/*;
