[General]
network = flora.simulations.LoRaNetworkTest
**.maxTransmissionDuration = 4s

#cmdenv-autoflush = true
#cmdenv-status-frequency = 10000000s
#cmdenv-express-mode = false
#cmdenv-output-file = cmd_env_log.txt
**.vector-recording = false
output-scalar-file = ../results/{{config.simulationName}}-s${runnumber}.sca

rng-class = "cMersenneTwister"
**.loRaGW[*].numUdpApps = 1
{% for gw in gateways -%}
**.loRaGW[{{gw.num}}].packetForwarder.localPort = {{gw.localPort}}
**.loRaGW[{{gw.num}}].packetForwarder.destPort = {{gw.destPort}}
**.loRaGW[{{gw.num}}].packetForwarder.destAddresses = "networkServer"
**.loRaGW[{{gw.num}}].packetForwarder.indexNumber = {{gw.num}}
{% endfor %}

**.networkServer.numApps = 1
**.networkServer.**.evaluateADRinServer = {{config.activateADR}}
{% for ns in networkServers -%}
**.networkServer.app[{{ns.num}}].typename = "NetworkServerApp"
**.networkServer.app[{{ns.num}}].destAddresses = "loRaGW[0]"
**.networkServer.app[{{ns.num}}].destPort = {{ns.destPort}}
**.networkServer.app[{{ns.num}}].localPort = {{ns.localPort}}
**.networkServer.app[{{ns.num}}].adrMethod = ${"avg"}
{% endfor %}

**.numberOfPacketsToSend = 0 #${numberOfPAckets = 200..5000 step 200} #100 #obviously 0 means infinite number of packets
sim-time-limit = 12h
simtime-resolution = -11
repeat = {{config.numberOfRepeat}}

**.timeToFirstPacket = exponential(600s)
**.timeToNextPacket = exponential(600s)
**.alohaChannelModel = false

#nodes features
**.numberOfNodes = {{config.numberOfNodes}}
**.constraintAreaMaxX = 2376.0m
**.constraintAreaMaxY = 1090.0m

{% for node in loRaNodes -%}
**.loRaNodes[{{node.num}}].**.initialX = {{node.x}}
**.loRaNodes[{{node.num}}].**.initialY = {{node.y}}
**.loRaNodes[{{node.num}}].**initialLoRaSF = {{node.sf}}
**.loRaNodes[{{node.num}}].**initialLoRaTP = 8dBm
**.loRaNodes[{{node.num}}].**initialLoRaBW = 125 kHz
**.loRaNodes[{{node.num}}].**initialLoRaCR = 4
**.loRaNodes[{{node.num}}].**.initFromDisplayString = false
**.loRaNodes[{{node.num}}].**.evaluateADRinNode = {{node.activateADR}}
**.loRaNodes[{{node.num}}].**.initialSlice = "{{node.initialSlice}}"
{% endfor %}

#gateway features
**.numberOfGateways = {{config.numberOfGateways}}
{% for gw in gateways -%}
**.loRaGW[{{gw.num}}].**.initialX = {{gw.x}}
**.loRaGW[{{gw.num}}].**.initialY = {{gw.y}}
{% endfor %}
**.LoRaGWNic.radio.iAmGateway = true
**.loRaGW[*].**.initFromDisplayString = false

#power consumption features
**.loRaNodes[*].LoRaNic.radio.energyConsumer.typename = "LoRaEnergyConsumer"
**.loRaNodes[*].**.energySourceModule = "IdealEpEnergyStorage"
**.loRaNodes[*].LoRaNic.radio.energyConsumer.configFile = xmldoc("../energyConsumptionParameters.xml")

#general features
**.sigma = 3.57
**.constraintAreaMinX = 0m
**.constraintAreaMinY = 0m
**.constraintAreaMinZ = 0m
**.constraintAreaMaxZ = 0m

LoRaNetworkTest.**.radio.separateTransmissionParts = false
LoRaNetworkTest.**.radio.separateReceptionParts = false

**.ipv4Delayer.config = xmldoc("../cloudDelays.xml")
**.radio.radioMediumModule = "LoRaMedium"
**.LoRaMedium.pathLossType = "LoRaLogNormalShadowing"
**.minInterferenceTime = 0s
**.displayAddresses = false

# cache features
# **.LoRaMedium.mediumLimitCacheType = "LoRaMediumCache"
# **.LoRaMedium.rangeFilter = "communicationRange"
# **.LoRaMedium.neighborCacheType = "LoRaNeighborCache"
# **.LoRaMedium.neighborCache.range = 546m
# **.LoRaMedium.neighborCache.refillPeriod = 3000s